@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:ital,wght@0,400;0,600;0,700;1,400&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

.root {
  display: flex;
  min-height: 100vh;
}

.navbar {
  width: 255px;
  background: #363740;
}

.content {
  display: flex;
  flex-direction: column;
  background: #f7f8fc;;
  width: 100%;
}
